/* Global */

html {
  transition: background-color 0.15s ease-in;
}

body {
  background-color: white;
  color: #444;
  font: 20px 'open sans', sans-serif;
  margin: 0 auto;
  max-width: 400px;
  padding: 50px;
}

main {
  position: relative;
}

h1 {
  font-family: 'Patua One', cursive;
  font-size: 2.5em;
  margin-top: 0;
  margin-bottom: 0.4em;
  text-align: center;
}

/* Quote container */

#quote {
  clear: both;
  max-height: 1000px;
  transition: opacity 1.25s, max-height 0.3s;
}

#quote.hidden {
  opacity: 0;
  max-height: 1px;
  transition: 0.25s;
}

/* Quote image */

#image {
  float: right;
}

img {
  border-radius: 3px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  margin-left: 20px;
}

/* Quote text and author */

#quote p {
  margin-bottom: 0;
}

#author {
  font-style: italic;
}

#author::before {
  content: '- ';
}

/* Quote marks */

.quote-mark {
  display: inline !important;
  font-size: 5em !important;
  letter-spacing: -0.2em !important;
}

.quote-mark.top {
  float: left;
  position: relative;
  transform: scaleX(-1) scaleY(-1);
  z-index: 99;
}

.quote-mark.bottom {
  float: right;
}

/* Buttons */

.buttons {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}

button {
  border: none;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-size: 0.8em;
  flex-grow: 1;
  letter-spacing: 0.03em;
  line-height: 36px;
  margin: 10px 5px;
  max-width: 200px;
  padding: 5px 15px;
  text-transform: uppercase;
  transition: all 0.1s ease-in, background-color 0.15s ease-in;
  width: 180px;
}

button:focus {
  outline: none;
}

button:hover:not(.disabled) {
  filter: brightness(110%);
}

button:active:not(.disabled) {
  filter: brightness(120%);
}

button.disabled {
  background-color: #dfdfdf;
  box-shadow: none;
  color: #9f9f9f;
  cursor: default;
}

button i {
  line-height: inherit !important;
}

button i.left {
  float: left;
  margin-right: 15px;
}

button i.right {
  float: right;
  margin-left: 15px;
}

/* Slide container */

#slide-container {
  background-color: white;
  left: -50px;
  max-width: 100%;
  padding: 0 50px 50px 50px;
  position: absolute;
  top: 100%;
  transition: 0.5s;
  transition-delay: -0.1s;
  width: 500px;
}

#slide-container.hidden {
  top: 0;
  transition-delay: 0.1s;
}

/* Media queries */

@media only screen and (max-width: 500px) {
  body {
    max-width: initial;
    padding: 20px 30px;
  }

  .buttons {
    margin: 10px auto;
    max-width: 225px;
    width: 100%;
  }

  button {
    max-width: initial;
  }
}

/* Clearfix */

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}
